*~
.#*
\#*#

*.diff
*.patch

*.zip

*_pcb/fp-info-cache

*_pcb/*.gbr
*_pcb/*.dsn
*_pcb/*.drl
*_pcb/*-drl_map.ps

*_pcb/*.bak
*_pcb/*.sch-bak
*_pcb/*.kicad_pcb-bak

*_pcb/*-cache.lib
*_pcb/*_pcb-rescue.dcm
*_pcb/*_pcb-rescue.lib

*_pcb/*.csv
*_pcb/*.html
*_pcb/*.step
*_pcb/*.wrl
*_pcb/*.xml
